<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | NextLegend Real Estate</title>
  </head>
  <body>
    <p>this is my contact page for NextLegend</p>
  </body>
</html>
