<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= yield(:title) %> | NextLegend Real Estate</title>
  </head>
  <body>
    <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="micropost_form">
          <%= render 'shared/property_form' %>
        </section>
      </aside>
     </div>
     <% else %>
    <p>
      this is my home page for NextLegend
    </p>
    <% end %>
  </body>
</html>
